# local package
-e .

# external requirements
jinja2

# development tools
flake8

# data analysis and visualization
duckdb
pandas
pyarrow
streamlit
scipy
statsmodels

# additional useful libraries
matplotlib

# documentation
sphinx
sphinx-rtd-theme
myst-parser
