# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.5.1
jinja2

# data analysis and visualization
duckdb
pandas
pyarrow
streamlit
scipy
statsmodels
pandera
pydantic
rich

# additional useful libraries
matplotlib
altair
polars
